POSTGRES_DB=django
POSTGRES_USER=django
POSTGRES_PASSWORD=your_password_here
DB_NAME=django
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,taski-maksim.duckdns.org